{% extends "base.html" %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <div class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2">
                <svg  class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512" xml:space="preserve">
                    <path d="M394.7 0H117.4C92.4 0 72 20.3 72 45.3v421.4c0 25 20.3 45.3 45.4 45.3h277.3c25 0 45.3-20.3 45.3-45.3V45.3c0-25-20.3-45.3-45.3-45.3zM184 440h-48v-48h48v48zm0-80h-48v-48h48v48zm0-80h-48v-48h48v48zm96 160h-48v-48h48v48zm0-80h-48v-48h48v48zm0-80h-48v-48h48v48zm96 160h-48V312h48v128zm0-160h-48v-48h48v48zm0-120H136V80h240v80z"/>
                </svg>
                Calculator
            </div>
            <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">
                Calculate your carbon footprint
            </h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                Understanding your carbon footprint is the first step towards reducing it. Use our easy-to-follow guide to calculate your personal or business carbon emissions and explore ways to lower your impact on the environment.
            </p>
            <a href="{{ url_for('calculator') }}" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Take the test
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <div class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                    </svg>
                    Code
                </div>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
                    Source code of this website
                </h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                    Access the source code to see how this website was built. Whether you're a developer or an enthusiast, dive into the structure and learn how to create similar projects.
                </p>
                <a href="https://github.com/SyrymAbdikhan/Carbon-Footprint-Calculator" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">
                    Check out
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <div class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M6 2h12a2 2 0 0 1 2 2v3.3c0 .6-.4 1-1 1H5a1 1 0 0 1-1-1V4c0-1.1.9-2 2-2Zm-2 8.3V12c0 1 .6 2 1.5 2.6l3 1.7c.6.3 1 1 1 1.7v2c0 1.1 1 2 2 2h1a2 2 0 0 0 2-2v-2.1a2 2 0 0 1 1-1.7l3-1.7a3 3 0 0 0 1.5-2.6v-1.6c0-.5-.4-1-1-1H5a1 1 0 0 0-1 1Z" fill="#292D32"/>
                    </svg>
                    Design
                </div>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
                    Design with Flowbite components
                </h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                    Create beautiful, responsive interfaces with the Flowbite Design System. This library makes it easy for developers to quickly build and style user interfaces with minimal effort.
                </p>
                <a href="https://flowbite.com/" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">
                    Check out
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <div class="bg-orange-100 text-orange-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                    </svg>
                    Data Visualization
                </div>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
                    Data Visualization with D3.js
                </h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                    Create interactive, data-driven graphics with the D3.js library. It simplifies building and styling visualizations, perfect for showcasing data with minimal effort.
                </p>
                <a href="https://d3js.org/" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">
                    Check out
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
