
#suggestion h1 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: large;
}

#suggestion ul,
#suggestion ol {
  margin-left: 1rem;
}

#suggestion li {
  margin-bottom: 0.5rem;
}

#suggestion ol>li {
  position: relative;
  padding-left: 0.8rem;
}

#suggestion ol>li::before {
  content: "• ";
  position: absolute;
  left: 0;
}

#suggestion strong {
  font-weight: 700;
}

@media print {
  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
